#user-feedback {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 320px;
  margin-left: -3px;
  margin-bottom: -3px;
  z-index: 1000;
}

#user-feedback-form, #user-feedback-spinner {
  float: left;
  width: 300px;
  height: 100%;
  z-index: 1000;
  padding-left: 5px;
  padding-right: 10px;
  background-clip: 'padding-box';
  border: 1px solid rgba(0,0,0,.2);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.form-group p { font-size: 15px; }

#user-feedback-tab {
  z-index: 99;
  position: relative;
  float: right;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 42px;
  background-color: rgba(0,0,0,0.7);
  margin-top: 60px;
  margin-left: -42px;
  padding-top: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#user-feedback-tab:hover {
  background-color: rgba(0,0,0,0.5);
}

#user-feedback-form textarea {
  resize: none;
}

#user-feedback-spinner {
  position: absolute;
  float: right;
  z-index: 1001;
  background-color: white;
}

/* http://stephanwagner.me/only-css-loading-spinner */

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    margin-top: -10px;
    margin-left: -10px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border-top: 5px solid #03ade0;
    border-right: 5px solid transparent;
    animation: spinner 1s linear infinite;
    -webkit-animation: spinner 1s linear infinite;
}
